
[alias]
    l = log
    lo = log --oneline
    a = add
    co = commit -m
    ch = checkout
    chb = checkout -b
    br = branch
    d = diff
    ds = diff --staged
    s = status
    r = remote
    rv = remote --verbose
    ps = push
    pl = pull
    email = config --global user.email
    name = config --global user.name

[user]
	name = Patrick Boyle
	email = t.patrick.boyle@pm.me

